extends layout

block content
  h1= title
  
  ul
  each val in track_list
    li
      a(href=val.url) #{val.album.title} : #{val.track_number} -
      if val.track_number==number
        span.text-success #{val.track_number}
      else if val.track_number==''
        span.text-danger #{val.track_number}
      else
        span.text-warning #{val.track_number}
        
      
        
      
